@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    position:sticky;
    top: 0;
    z-index: 999;
    background-color: #2F4075;
    color: #ffffff;
}
.navbar-brand{
    color: #fff !important;
    font-size: 22px;
}
.navbar-brand span {
    font-size: 25px;
}
.navbar-brand small {
    font-size: 15px;
    color: rgb(223, 219, 215);
}
.navbar p {
 padding-top: 15px;
}
.header {
    background-image:url(../imgs/male-arm-suit-tie-cover-yellow-toy-car.jpg);	
    background-size:100% 100%;
    background-repeat: no-repeat; 
    color: #fff;  
}
.content {
    background-color:rgba(0, 0, 0,0.5);
    border-radius:2%;
}
.form-head {
    background-color: #2F4075;

}
.form-container {
    border-radius: 2px;
}
.form-container form {
    background-color: #fff;
    color: black;
}
.cta-btn {
    background-color:red;
    font-size: 20px;
}
.cta-sub{
    font-size: 15px;
    font-weight: 600;
    line-height: .5;
    letter-spacing: .1;
}
.sticky-btn {
    position: fixed;
    bottom:40px;
    left: 25px;
    z-index: 11000;
}

.sale {
    background-image: url(../imgs/1683.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat; 
}
.sale-headline  {
    color: #fff;
    font-size: 80px;
    font-family: 'Redressed', cursive;
text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

}
.sale .sm {
    font-size: 30px;
    color: #fff; 
    font-family: 'Redressed', cursive;
}

#timer {
    font-size: 5em;
    font-weight: 100;
    color:#fff;
}

#timer div {
    display: inline-block;
    min-width: 150px;
    color: #fff;
}

#timer div span {
    color:#fff;
    display: block;
    font-size: .3em;
    font-weight: 400;
}
.testimonials {
    background-color: rgb(195, 194, 194);
}
footer {
    background-color: #2F4075;
    color: #ffffff;
}

.stickyphone {
    width:100%;
    background-color: red;   
}
.stickyphone a {
    color: #fff;
    font-size: 20px;

}



@media (max-width: 1200px) {
    .header {
        background-image: none;
        background-color:#8999ca;
    }
    .form-container {
        margin-top: 20px;
    }
    .stickyphone{
      position: fixed;
      right: 0;
      left: 0;   
      bottom: 0;
    }      
  }