* {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    position:sticky;
    top: 0;
    z-index: 999;
    background-color: #011126;
    color: #ffffff;
}
.navbar-brand{
    color: #fff !important;
    font-size: 22px;
}
.navbar-brand span {
    font-size: 25px;
}
.navbar-brand small {
    font-size: 15px;
    color: rgb(223, 219, 215);
}
.navbar p {
 padding-top: 15px;
}
.main {
    background-image:url(../imgs/male-arm-suit-tie-cover-yellow-toy-car.jpg);	
    background-size:100% 100%;
    background-repeat: no-repeat;
    
}
.main .headline {
    background-color:rgba(0, 0, 0,0.5);
    border-radius:2%;
}
.main .headline h1 {
    font-size:60px;
    color: #fff;  
}
.main .headline .subtext {
    font-size:28px;  
    margin-bottom: 0px;
  color:  #fff;
}
.main .headline p {
    color: rgb(223, 219, 215);    
}
.main .form1 {
    background-color: #5D8AA6;
    border-radius: 2%;  
}
.main .form1 .form-headline {
    font-size: 25px;
    color: #fff;
}
.cta-btn {
    background-color:red;
    font-size: 20px;
}
.sticky-btn {
    position: fixed;
    bottom: 20px;
    left: 25px;
    z-index: 11000;
}

.sale {
    background-color: rgb(232, 236, 236);
}
.sale p {
    color: #011126;
    font-size: 40px;
}
.sale .sm {
    font-size: 20px;
}

#timer {
    font-size: 3.2em;
    font-weight: 100;
    color:#111126;
}

#timer div {
    display: inline-block;
    min-width: 90px;
    color: #011126;
}

#timer div span {
    color:#111126;
    display: block;
    font-size: .35em;
    font-weight: 400;
}
.testimonials {
    background-color: rgb(195, 194, 194);
}
footer {
    background-color: #011126;
    color: #ffffff;
}